.LOGIN{
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin: 0;
}

.LOGIN_PEQUENO{
    display: grid;
    gap: 5px;
    background-color: cadetblue;
    padding: 150px;
    border-radius: 30px;
}

.LOGIN_PEQUENO button{
    border-radius: 10px;
}
.LOGIN_PEQUENO input{
    border-radius: 10px;
}

#cont-crias {
    width: 100%;
    position: fixed;
    bottom: -500px;
    left: 0;
    display: flex;
    justify-content: space-around;
    z-index: 999;
    transition: bottom 0.8s ease-in-out;
}

.visivel {
    bottom: -80px !important
}

#cont-crias img {
    width: 400px; 
    animation: balancinho 0.5s infinite;
}

#cont-crias2 {
    width: 100%;
    position: fixed;
    bottom: -500px;
    left: 0;
    display: flex;
    justify-content: space-around;
    z-index: 999;
    transition: bottom 0.8s ease-in-out;
}

#cont-crias2 img {
    width: 400px; 
    animation: balancinho 0.5s infinite;
}

.visivel2 {
    bottom: 150px !important
}

@keyframes balancinho {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.balancando {
  animation: balancinho 0.5s infinite;
  display: inline-block;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
    display: none;  
    z-index: 1000;  
}